
.im{
  
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}
.in{
  text-align: center;
    
   padding: 12px 30px;
     }
     .btn1{
      background-color: #1838c9; 
      border: none;
      color: white;
      padding: 12px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 25px;
  
    }
  .img2{
   position: relative;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
 min-height: 200px;
 justify-content: center;
  }
  .hi{
    font-size: 80px;
    text-align: center;
    background: linear-gradient(to right, #5649db, #68c3f9);
    color: transparent;
    background-clip: text;
}
        @media only screen and (max-width: 620px){
          .hi{
     font-size: 65px;
      
          }}
          @media only screen and (max-width: 460px){
            .hi{
       font-size: 55px;
        
            }}
            @media only screen and (max-width: 360px){
              .hi {
         font-size: 45px;
          
              }}
          
      
    .m1{
    font-size: 20px;
    text-align: center;
    }
    @media only screen and (max-width: 420px){
      .m1{
 font-size: 15px;
  
      }}
      @media only screen and (max-width: 360px){
        .m1{
   font-size: 12px;
    
        }}
    .btnparent{

min-height: 200px;
max-width: 750px;
position: absolute;
background: none;


display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
gap: 8px;
    }
    /* @media only screen and (max-width: 500px){
        .btnparent{
           height: 40px;
width: 80%;
position: absolute;

top: 1%;
left: 0%;

        }

    } */
    .btn2{

        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn3{
  
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn4{

        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn5{
    
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn6{
    
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn7{
      
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn8{
   
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn9{
       
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn10{
     
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn11{
        
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn12{
       
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn13{
       
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
      .btn14{
      
        background-color: #fafafa; 
        border: 1px solid #6851ff;
        color: #6851ff;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
      }
/* @media only screen and (max-width: 377px){
.med{

}



} */

      .main{

min-height: 400px;
width: 100%;
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
align-items: center;
      }
      .card1{
min-height: 200px;
max-width: 200px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 15px;
background-color: #efedff;
      }
      .card2{
        min-height: 200px;
        max-width: 200px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;
        background-color: #efedff;
              }
              .card3{
                min-height: 200px;
                max-width: 200px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 15px;
                background-color: #efedff;
                      }
                      .card4{
                        min-height: 200px;
                        max-width: 200px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        border-radius: 15px;
                        background-color: #efedff;
                              }
                              .icon1{
                                margin-top: 20px;
                                color: #7051ff;
                              margin-left: 44%;
                              }
                              .icon2{
                                margin-top: 20px;
                                color: #7051ff;
                              margin-left: 44%;
                              }
                         
                              .icon3{
                                margin-top: 20px;
                                color: #7051ff;
                              margin-left: 44%;
                              }
                         
                              .icon4{
                                margin-top: 20px;
                                color: #7051ff;
                              margin-left: 44%;
                              }
                         


















#card11{
width: 230px;

}
#card12{
    width: 230px;
    
    }
    #card13{
        width: 230px;
        
        }
        #card14{
            width: 230px;
            
            }
            #card15{
                width: 230px;
                
                }
                #card16{
                    width: 230px;
                    
                    }
                    #card17{
                        width: 230px;
                        
                        }
                        #card18{
                            width: 230px;
                            
                            }


                              .main2{
                  

                                min-height: 450px;
                                max-width: 1000px;
                                display: flex;
                                justify-content: center;
                                gap: 20px;
                                flex-wrap: wrap;
                                align-items: center;
                                position: relative;
                                      }
                                      .card11{
                                min-height: 200px;
                                max-width: 230px;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                border-radius: 15px;
                                background-color: #efedff;
                                      }
                                      .card12{
                                        min-height: 200px;
                                        max-width: 230px;
                                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                        border-radius: 15px;
                                        background-color: #efedff;
                                              }
                                              .card13{
                                                min-height: 200px;
                                                max-width: 230px;
                                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                                border-radius: 15px;
                                                background-color: #efedff;
                                                      }
                                                      .card14{
                                                        min-height: 200px;
                                                        max-width: 230px;
                                                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                                        border-radius: 15px;
                                                        background-color: #efedff;
                                                              }
                                                              .icon11{
                                                                margin-top: 20px;
                                                                color: #7051ff;
                                                              margin-left: 44%;
                                                              }
                                                              .icon12{
                                                                margin-top: 20px;
                                                                color: #7051ff;
                                                              margin-left: 44%;
                                                              }
                                                         
                                                              .icon13{
                                                                margin-top: 20px;
                                                                color: #7051ff;
                                                              margin-left: 44%;
                                                              }
                                                         
                                                              .icon14{
                                                                margin-top: 20px;
                                                                color: #7051ff;
                                                              margin-left: 44%;
                                                              }
              
                                                                      .card15{
                                                                min-height: 200px;
                                                                max-width: 230px;
                                                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                                                border-radius: 15px;
                                                                background-color: #efedff;
                                                                      }
                                                                      .card16{
                                                                        min-height: 200px;
                                                                        max-width: 230px;
                                                                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                                                        border-radius: 15px;
                                                                        background-color: #efedff;
                                                                              }
                                                                              .card17{
                                                                                min-height: 200px;
                                                                                max-width: 230px;
                                                                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                                                                border-radius: 15px;
                                                                                background-color: #efedff;
                                                                                      }
                                                                                      .card18{
                                                                                        min-height: 200px;
                                                                                        max-width: 230px;
                                                                                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                                                                        border-radius: 15px;
                                                                                        background-color: #efedff;
                                                                                              }
                                                                                              .icon15{
                                                                                                margin-top: 20px;
                                                                                                color: #7051ff;
                                                                                              margin-left: 44%;
                                                                                              }
                                                                                              .icon16{
                                                                                                margin-top: 20px;
                                                                                                color: #7051ff;
                                                                                              margin-left: 44%;
                                                                                              }
                                                                                         
                                                                                              .icon17{
                                                                                                margin-top: 20px;
                                                                                                color: #7051ff;
                                                                                              margin-left: 44%;
                                                                                              }
                                                                                         
.icon18{
margin-top: 20px;
color: #7051ff;
margin-left: 44%;
}
                                                                                                                                                 


.main3{
  gap: 10px;
min-height: 500px;
width: 95%;

display: flex;
justify-content: space-evenly;
align-content: space-around;
flex-wrap: wrap;
}
.j1{
    position: relative;
    width: 350px;
    height: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.parap2{
    position: absolute;
   bottom: 10px;
   right: 8px;
}
.para{
position: absolute;
left: 15px;

}
.para1{
position: absolute;
top: 170px;

}


.j2{
    position: relative;
    width: 350px;
    height: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.j3{
    position: relative;
    width: 350px;
    height: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.j4{
    position: relative;
    width: 350px;
    height: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


.j5{
    position: relative;
    width: 350px;
    height: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.j6{
    position: relative;
    width: 350px;
    height: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
/* .main22{
width: 100%;
min-height: 650px;

display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.imgf{
 max-width: 450px;
   min-height: 500px;
    
}
.imgf2{
  min-height: 500px;
   max-width: 450px;
    
} */

@media only screen and (max-width: 390px){
  .imgf>h1{
font-size: 35px;

  }}

.foot{

width: 100%;
min-height: 250px;
background-color: #7a42f1;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
.foot1{

    width: 450px;
    min-height: 200px;
  color: white;
  margin-top: 30px;
}
.foot2{

    width: 300px;
    height: 300px;
  
}
.foot1img{
height: 100px;
width: 70px;

}
.ic{

font-size: 25px;

}

.he h6{
    color: white;
}
.he p{
    color: white;
}